.skills {
  text-align: center;
}

.skills h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  background-color: #3498db; /* Background color for the skill boxes */
  color: white;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  font-size: 16px;
  border:1px solid white;
}
